.query-fixed-layout,
.widget-visualization {
  .echarts-visualization-container {
    .custom-table-visualization-container {
      height: calc(100% - 300px);
      top: 300px;

      div {
        height: 100%;
      }
    }
  }
}
